* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

body {
    background-color: #282b30;
}

a {text-decoration: none;}

h2 {
    text-decoration: underline;
}

.header-container {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #1e2124;
    color: #7289da;
    font-weight: 700;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    border-radius: 0.3rem;
    width: 55%;
    background-color: #36393e;
}

.body-section-container {
    width: 95%;
    text-align: justify;
    text-justify: inter-word;
    padding: 1rem;
}

.card {
    margin: 0 auto;
    width: 70%;
    padding: 1rem;
    border: 1px solid #7289da;
    border-radius: 1rem;
}

.fields {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.field {
    padding: 0.8rem;
    border: 1px solid #7289da;
    border-radius: 1rem;
}

footer {
    height: 2rem;
    background-color: #1e2124;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}