* {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

body {
    background-color: #282b30;
}

a {text-decoration: none;}

h2 {
    text-decoration: underline;
}

.header-container {
    width: 100%;
    height: 4rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #1e2124;
    color: #7289da;
    font-weight: 700;
}

.body-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    border-radius: 0.3rem;
    width: 85%;
    background-color: #36393e;
}

.body-section-container {
    width: 95%;
    text-align: justify;
    text-justify: inter-word;
    padding: 1rem;
}

.tabla {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  .tabla td, .tabla th {
    border: 1px solid #928484;
    padding: 8px;
  }
  
  .tabla tr:nth-child(even){background-color: #282b30;}
  
  .tabla th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1e2124;
    color: white;
  }

footer {
    height: 2rem;
    background-color: #1e2124;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

form * {    
    color: black;
}

form label {
    color: #fff;
}